<form id="registration" class="center" #register="ngForm">
  <div>
    <p class="center teal">
     
      Registration Form</p>
    <div class="row">
      <div class="col s12">
        <div >
          
        </div>
        <div class="input-field col s3">
            <i class="small material-icons prefix">account_circle</i>
          <input type="text" id="fname" class="" name="fname" minlength="4" maxlength="10" required [(ngModel)]="fname" #refname="ngModel"
            (keydown)="test(refname);">
          <label for="icon_prefix">First Name</label>
        </div>

        {{refname.className}}
        <div *ngIf="refname.invalid && (refname.dirty || refname.touched)">
          <div *ngIf="refname.errors.required">
            First Name is required.
          </div>
          <div *ngIf="refname.errors.minlength">
            First Name must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div>

        <label for="name">
          <i class="small material-icons">account_circle</i>
          Last Name</label>

        <div class="input-field col s6">

          <input type="text" class="" id="lname" name="lname" minlength="4" maxlength="20" required [(ngModel)]="lname" #reflname="ngModel"
            (keydown)="test(refname);">
        </div>

        <div *ngIf="reflname.invalid && (reflname.dirty || reflname.touched)">
          <div *ngIf="reflname.errors.required">
            Last Name is required.
          </div>
          <div *ngIf="reflname.errors.minlength">
            Last Name must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div>

        <label for="email">
          <i class="small material-icons">email</i>Email</label>
        <div class="input-field col s6">
          <input type="text" class="" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" maxlength="20" required
            [(ngModel)]="email" #refemail="ngModel"> </div>{{name}}
        <div *ngIf="refemail.invalid && (refemail.dirty || refemail.touched)">
          <div *ngIf="refemail.errors.required">
            Email is required.
          </div>
          <div *ngIf="refemail.errors.pattern">
            Email must be like someone@mail.com
          </div>
        </div>
      </div>

      <div>

        <label for="password">
          <i class="small material-icons">vpn_key</i>Password</label>
        <div class="input-field col s6">
          <input type="password" class="" id="password" name="parssword" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$"
            maxlength="20" required [(ngModel)]="password" #refpsw="ngModel" (keydown)="test(refpsw);"> </div>{{name}}
        <div *ngIf="refpsw.invalid && (refpsw.dirty || refpsw.touched)">
          <div *ngIf="refpsw.errors.required">
            Password is required.
          </div>
          <div *ngIf="refpsw.errors.pattern">
            Password must be at least 8 characters long and, contains at least one number and one special charecter.
          </div>
        </div>
      </div>


      <div>

        <label for="cnfpass">
          <i class="small material-icons">vpn_key</i>Confirm Password</label>
        <div class="input-field col s6">
          <input type="password" class="" id="Cnfpass" name="cnfpass" maxlength="20" required [(ngModel)]="cnfpass" #refcnfpass="ngModel">
        </div>
        <div *ngIf="refcnfpass.invalid && (refcnfpass.dirty || refcnfpass.touched)">
          <div *ngIf="refcnfpass.errors.required">
            Name is required.
          </div>
          <div *ngIf="refcnfpass.errors.minlength">
            Name must be at least 4 characters long.
          </div>
        </div>
      </div>


      <div>

        <label for="name">
          <i class="small material-icons">web_asset</i>Pan card number</label>
        <div class="input-field col s6">
          <input type="number" id="pan" class="" name="pan" maxlength=8 required [(ngModel)]="pan" #refpan="ngModel">
        </div>
        <div *ngIf="refpan.invalid && (refpan.dirty || refpan.touched)">
          <div *ngIf="refpan.errors.required">
            Pancard number is required.
          </div>
          <div *ngIf="refpan.errors.minlength">
            Number must be at least 8 characters long.
          </div>
        </div>
      </div>


      <div>

        <label for="address">
          <i class="small material-icons">room</i>Address</label>
        <div class="input-field col s6">
          <input type="text" class="" id="address" name="address" maxlength="20" required [(ngModel)]="address" #refaddress="ngModel">
        </div>
        <div *ngIf="refaddress.invalid && (refaddress.dirty || refaddress.touched)">
          <div *ngIf="refaddress.errors.required">
            Address is required.
          </div>
        </div>
      </div>
      <div class="center">
        <br>
        <button type="button" class="btn teal" (click)="registerUser();">Register</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn teal">Reset</button>
      </div>
    </div>
  </div>
</form>