<div class="row">
    <div class="col s12 m4">
        <ul class="collection with-header  " id="menu">
            <li class="collection-item  "><div>{{name}}<a routerLink="/employee-details" class="secondary-content"><i class="material-icons white">account_box</i> </a>
            </div></li>
            <li class="collection-item  "><div>Verify Account<a routerLink="/verify-account" class="secondary-content"><i class="material-icons white">account_balance</i></a></div></li>
    
            <li class="collection-item "><div>Close Account<a routerLink="/delete-account" class="secondary-content"><i class="material-icons">assignment_late</i></a></div></li>
         
            <li class="collection-item"><div>Logout<a  class="secondary-content"><i class="material-icons white">send</i></a></div></li>
          </ul>
      
    </div>
    <div class="col s12 m1"></div>
    <div class="col s12 m6 ">
      <table class=" striped ">
        <tr>
        <td class="center" colspan="2" id="h">Employee Details</td>
        </tr>
      <tr>
        <td>Employee Name:</td>
        <td>sdfjkzazasdfg</td>
        </tr>
      <tr>
        <td>Employee Id:</td>
        <td>sdfrgthyjuki</td>
      </tr> 
    <tr>
      <td> Employee Email-id:</td>
      <td>dfghjk</td>
    </tr>
    <tr>
      <td>Designation:</td>
      <td>vfghjk</td>
    </tr>
    <tr>
        <td>Salary:</td>
        <td>vfghjk</td>
      </tr>
    </table>
    </div>
    </div>