
   <app-employee></app-employee>
   <div class="col s12 m6 ">
      <table class=" striped ">
        <tr>
        <td class="center" colspan="2" id="h">Employee Details</td>
        </tr>
      <tr>
        <td>Employee Name:</td>
        <td>sdfjkzazasdfg</td>
        </tr>
      <tr>
        <td>Employee Id:</td>
        <td>sdfrgthyjuki</td>
      </tr> 
    <tr>
      <td> Employee Email-id:</td>
      <td>dfghjk</td>
    </tr>
    <tr>
      <td>Designation:</td>
      <td>vfghjk</td>
    </tr>
    <tr>
        <td>Salary:</td>
        <td>vfghjk</td>
      </tr>
    </table>
  
    </div>