<app-employee></app-employee>
      <div class="col s12 m5">
          <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon " for="search"><i class="material-icons ">search</i></label>
                
              </div>
            </form>
            <br>
            <div class="card white z-depth-3">
              <div class="card-content teal-text">
          <p>Account number: 454512</p>
      <p>Account holder name: jeevanthi</p>
      
          <button class="btn teal"> Delete account </button>
      </div>
   