<div class="row">
    <div class="col s12 m4"> <ul class="collection with-header  " id="menu">
        <li class="collection-item  "><div>{{name}}<a routerLink="/customer-details" class="secondary-content"><i class="material-icons white">account_box</i> </a>
        </div></li>
        <li class="collection-item  "><div>Account information<a routerLink="/account-info" class="secondary-content"><i class="material-icons white">account_balance</i></a></div></li>

        <li class="collection-item "><div>Transaction history<a routerLink="/transaction-history" class="secondary-content"><i class="material-icons white">account_balance_wallet</i></a></div></li>
     
        <li class="collection-item"><div>Trasaction<a routerLink="/transaction" class="secondary-content"><i class="material-icons white">attach_money</i></a></div></li>
        
        <li class="collection-item"><div>Logout<a class="secondary-content"><i class="material-icons white">send</i></a></div></li>
      </ul></div>
      <div class="col s12 m1"></div>
    <div class="col s12 m6 ">
        <table >
          
            <tr>
                <td>Transaction Id </td>
                
         
        
          <td>Source </td>
          
        
          <td>Type </td>
          
        <td>Amount </td>
        
      
      
        <td>Balance </td>
        
      </tr>
      <tr>
        <td>34566</td>
        <td>atm</td>
        <td>credit</td>
        <td>45678</td>
        <td>3456789</td>
      </tr>
      
      </table>
    </div>
    </div>
   