<app-customer-header></app-customer-header>
    <div class="col s12 m6 ">
            <h5 class="center ">
                    Account Information
                  </h5>
                  <br>
                  <p> 
                    Account Number:{{accno}}
                  </p>
                  <p>
                    Balance:{{balance}}
                  </p>
                 
                  <p>
                    Loan:{{loan}}
                  </p>
                  <p>
                      roi of Loan/month:{{loanroi}}
                      </p>
                  <p>
                    Fixed Deposit:{{fdamount}}
                  </p>
                  <p>
                        maturity amountfor fd:{{fdm}}
                      </p>
    </div>
  