
  .btn
  {
    box-shadow: none;
  }
 
     
.collection-item a:hover
{
color:grey;
}
  
#menu li
{
  border:0px;
font-size: 20px;
}
p{
  color:teal;
  font-size: 15px;
  text-align:left;
}
h5{
  font-style: italic;
  font-size: 25px;
}