  <div class="row  teal"><p>Mphasis Bank </p>
    <nav class="black">
         <div class="nav-wrapper">
          
           <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
           <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li> 
                <a href="home.html" class="btn teal">
               <i class="large material-icons left">home</i>
               Home</a>
 
             </li>
             <li><a href="about.html" class="btn teal"><i class="large material-icons left">forum</i>About</a></li>
             <li><a href="contact.html" class="btn teal"><i class="large material-icons left">contact_phone</i>Contact Us</a></li>
           </ul>
         
         </div>
       </nav>
       <ul class="sidenav" id="mobile-demo">
           <li> 
               <a href="home.html" class="btn teal">
              <i class="large material-icons left">home</i>
              Home</a>
 
            </li>
            <li><a href="about.html" class="btn teal"><i class="large material-icons left">forum</i>About</a></li>
            <li><a href="contact.html" class="btn teal"><i class="large material-icons left">contact_phone</i>Contact Us</a></li>
         </ul>
       <div class="row grey ">
 
       </div>
 </div>
 <div class="row">

 <div class="col s4 m4 " >
 
    <ul class="collection with-header  " id="menu">
        <li class="collection-item  "><div>{{name}}<a href="#!" class="secondary-content"><i class="material-icons white">account_box</i> </a>
        </div></li>
        <li class="collection-item  "><div>Account information<a href="#!" class="secondary-content"><i class="material-icons white">account_balance</i></a></div></li>

        <li class="collection-item "><div>Transaction history<a href="#!" class="secondary-content"><i class="material-icons white">account_balance_wallet</i></a></div></li>
     
        <li class="collection-item"><div>Trasaction<a href="#!" class="secondary-content"><i class="material-icons white">attach_money</i></a></div></li>
        
        <li class="collection-item"><div>Logout<a href="#!" class="secondary-content"><i class="material-icons white">send</i></a></div></li>
      </ul>
  
  </div>
  </div>
 