
    p{
        font-size: 50px;
        text-align: center;
        color:black;
        font-style: italic;
        margin: 0px;
        
      }
      .btn
      {
        box-shadow: none;
      }
     
         
.collection-item a:hover
{
    color:grey;
}
      
  #menu li
  {
      border:0px;
    font-size: 20px;
    
    

    
  } 
