<div class="row">
    <div class="col s12 m4"> <ul class="collection with-header  " id="menu">
        <li class="collection-item  "><div>{{name}}<a routerLink="/customer-details" class="secondary-content"><i class="material-icons white">account_box</i> </a>
        </div></li>
        <li class="collection-item  "><div>Account information<a routerLink="/account-info" class="secondary-content"><i class="material-icons white">account_balance</i></a></div></li>

        <li class="collection-item "><div>Transaction history<a routerLink="/transaction-history" class="secondary-content"><i class="material-icons white">account_balance_wallet</i></a></div></li>
     
        <li class="collection-item"><div>Trasaction<a routerLink="/transaction" class="secondary-content"><i class="material-icons white">attach_money</i></a></div></li>
        
        <li class="collection-item"><div>Logout<a  class="secondary-content"><i class="material-icons white">send</i></a></div></li>
      </ul></div>
      <div class="col s12 m1"></div>
    <div class="col s12 m6 ">
      <table class=" striped ">
        <tr>
        <td class="center" colspan="2" id="h">Customer Details</td>
        </tr>
      <tr>
        <td>Customer Name:</td>
        <td>sdfjkzazasdfg</td>
        </tr>
      <tr>
        <td>Customer Id:</td>
        <td>sdfrgthyjuki</td>
      </tr> 
    <tr>
      <td>Customer Email-id:</td>
      <td>dfghjk</td>
    </tr>
    <tr>
      <td>PAN Number:</td>
      <td>vfghjk</td>
    </tr>
    <tr>
        <td>Salary:</td>
        <td>vfghjk</td>
      </tr>
    </table>
    </div>
    </div>
   