<div class="row">
    <div class="col s4 m4"></div>
    <div class="col s6 m6 ">
      <table class=" striped ">
        <tr>
        <td class="center" colspan="2" id="h">Customer Details</td>
        </tr>
      <tr>
        <td>Customer Name:</td>
        <td>sdfjkzazasdfg</td>
        </tr>
      <tr>
        <td>Customer Id:</td>
        <td>sdfrgthyjuki</td>
      </tr> 
    <tr>
      <td>Customer Email-id:</td>
      <td>dfghjk</td>
    </tr>
    <tr>
      <td>PAN Number:</td>
      <td>vfghjk</td>
    </tr>
    <tr>
        <td>Salary:</td>
        <td>vfghjk</td>
      </tr>
    </table>
    </div>
    </div>
    
