<div class="row  teal">     
  <span class="center">Mphasis Bank </span>
  <div class="row">

    </div>

  <nav class="black">
       <div class="nav-wrapper">
     
         <a routerLink="login" class="brand-logo right ">Login <i class="large material-icons">lock</i> </a>
         <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
         <ul id="nav-mobile" class="left hide-on-med-and-down">      
            <li> 
              <a routerLink="home" data-toggle="mobile-demo" class="btn teal">
             <i class="large material-icons left">home</i>
             Home</a>

           </li>
           <li><a routerLink="about" class="btn teal"><i class="large material-icons left">forum</i>About</a></li>
           <li><a routerLink="contact" class="btn teal"><i class="large material-icons left">contact_phone</i>Contact Us</a></li>
         </ul>
       
       </div>
     </nav>
     <ul class="sidenav" id="mobile-demo">
         <li> 
             <a routerLink="home" class="btn teal">
            <i class="large material-icons left">home</i>
            Home</a>

          </li>
          <li><a routerLink="about" class="btn teal"><i class="large material-icons left">forum</i>About</a></li>
          <li><a routerLink="contact" class="btn teal"><i class="large material-icons left">contact_phone</i>Contact Us</a></li>
       </ul>
     <div class="row">

     </div>
</div>
