<div class="row">
    <div class="col s4 m4"></div>
    <div class="col s12 m6 ">
      <table >
          
          <tr>
              <td>Transaction Id </td>
              
       
      
        <td>Source </td>
        
      
        <td>Type </td>
        
      <td>Amount </td>
      
    
    
      <td>Balance </td>
      
    </tr>
    <tr>
      <td>34566</td>
      <td>atm</td>
      <td>credit</td>
      <td>45678</td>
      <td>3456789</td>
    </tr>
    
    </table>
    </div>
    </div>
    